amp/*
bin/*
config/*
external/*
include/*
lib/*
manual/*
obj/*
prc/*
psg/*
share/*
src/*
*.log
COPYING
Makefile*
matrix
run/*.tar
run/input_files
run/setup
run/pph21_MATRIX
run/ppzz02_MATRIX
run/ppeeexex04_MATRIX/bin
run/ppeeexex04_MATRIX/def*
run/ppeeexex04_MATRIX/input
run/ppeeexex04_MATRIX/log
run/ppeeexex04_MATRIX/run*
run/ppeeexex04_MATRIX/*.tar
run/ppemexmx04_MATRIX/bin
run/ppemexmx04_MATRIX/def*
run/ppemexmx04_MATRIX/input
run/ppemexmx04_MATRIX/log
run/ppemexmx04_MATRIX/run*
run/ppemexmx04_MATRIX/*.tar